
.headerstrip{
  background: #080808;
  text-align: center;
  height: 100%;
  /*overflow: hidden;*/
}
.logo{
  margin-top: 8px;
}
/* Effect 16: fall down */
.navbar-inverse{
  background : #080808 !important;
}
.navbar{
  margin-bottom: 0px !important;
}
.cl-effect-16 li {
  display: inline-block;
}

.cl-effect-16 a {
  background: #080808;
  color: #fff;
}

.navbar-nav>li>a {
  padding: 0px 15px !important;
}

.navbar-nav>li>span {
  padding-top: 5px;
  color: #fff;
}

.cl-effect-16 a::before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.1s;
  -moz-transition: -moz-transform 0.5s, opacity 0.1s;
  transition: transform 0.5s, opacity 0.1s;
  pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
